# Third-party Obi Unity asset source — research material only, not for commit.
# Contains Virtual Method Studio's paid Unity asset (license forbids
# redistribution). Drop the asset here locally for reference; do not commit.
Obi/
